<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .hidden {
            display: none;
        }
    </style>
    <title>Generar Word</title>
</head>
<body class="container mt-5">
    <div>
        <h1 class="text-center">Pruebas Simulación Flag ON</h1>
    </div>
    <form action="/generate_word" method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="responsable" class="form-label"><b>Responsable:</b></label>
            <select name="responsable" class="form-select" required>
                <option value="" disabled selected>Seleccione QA</option>
                <option value="Joel Abanto">Joel Abanto</option>
                <option value="Daniel Beltran">Daniel Beltran</option>
                <option value="Kenji Canchihuaman">Kenji Canchihuaman</option>
                <option value="Wilson Dominguez">Wilson Dominguez</option>
                <option value="Julian Loaiza">Julian Loaiza</option>
                <option value="Luigi Mateo">Luigi Mateo</option>
                <option value="Rony Mocilote">Rony Mocilote</option> 
                <option value="Alonso Molina">Alonso Molina</option> 
                <option value="Seydi Rivas">Seydi Rivas</option>
                <option value="Karina Serrano">Karina Serrano</option>
            </select>
        </div>

        <div class="mb-3">
            <label for="aplicativo" class="form-label"><b>Aplicativo:</b></label>
            <select name="aplicativo" class="form-select" required>
                <option value="" disabled selected>Seleccione aplicativo</option>
                <option value="API CORE P&C">APIS CORE P&C</option>
                <option value="APIS PAGOS Y COBRANZAS">APIS PAGOS Y COBRANZAS</option>
                <option value="PORTAL COBRANZAS">PORTAL COBRANZAS</option>
                <option value="PORTAL BROKERS">PORTAL BROKERS</option>
                <option value="APP RIMAC MOBILE">APP RIMAC MOBILE</option>
            </select>
        </div>

        <div class="mb-3">
            <label for="producto" class="form-label"><b>Producto:</b></label>
            <input type="text" name="producto" class="form-control" required>
        </div>

        <div class="mb-3">
            <label for="indiceprueba" class="form-label"><b>Indice caso de prueba:</b></label>
            <input type="indiceprueba" name="indiceprueba" class="form-control" required>
        </div>

        <div class="mb-3">
            <label for="descripcionprueba" class="form-label"><b>Descripción caso de prueba:</b></label>
            <input type="descripcionprueba" name="descripcionprueba" class="form-control" required>
        </div>

        <div class="mb-3">
            <label for="observaciones" class="form-label"><b>Observaciones:</b></label>
            <textarea name="observaciones" class="form-control" required></textarea>
        </div>

        <div class="mb-3">
            <label for="ejecucion" class="form-label"><b>Evidencia ejecución de la prueba:</b></label>
            <input type="ejecucion" name="ejecucion" class="form-control">
        </div>

        <div class="mb-3">
            <label for="estado" class="form-label"><b>Estado de la prueba:</b></label>
            <select name="estado" class="form-select" required>
                <option value="" disabled selected>Seleccione estado:</option>
                <option value="Conforme">Conforme</option>
                <option value="Observado">Observado</option>
            </select>
        </div>

        <div class="mb-3">
            <label class="form-label" name="titulo1"><b>Registro de tercero AX Azure Aplicativo:</b></label>
            <div class="form-check">
                <label>
                    <input type="radio" name="opcion_radio1" value="Si aplica" onclick="toggleInputFile('inputFileContainer1', true)">
                    Si aplica
                </label>
            </div>
            <div class="form-check">
                <label>
                    <input type="radio" name="opcion_radio1" value="No aplica" onclick="toggleInputFile('inputFileContainer1', false)">
                    No aplica
                </label>
            </div>

            <div id="inputFileContainer1" class="hidden">
                <div class="mb-3">
                    <label for="estado1" class="form-label">Estado de la evidencia:</label>
                    <select name="estado1" class="form-select">
                        <option value="" disabled selected>Seleccione estado:</option>
                        <option value="Conforme">Conforme</option>
                        <option value="Observado">Observado</option>
                    </select>
                </div>
    
                <label for="comentarios" class="form-label">Comentarios adicionales:</label>
                <input type="text" name="comentario1" class="form-control">
                <label for="imagen1" class="form-label">Evidencia:</label>
                <input type="file" name="imagenes1[]" class="form-control" accept="image/*" multiple>
            </div>
        </div>

        <div class="mb-3">
            <label class="form-label" name="titulo2"><b>Registro de tercero CDX Azure Aplicativo:</b></label>
            <div class="form-check">
                <label>
                    <input type="radio" name="opcion_radio2" value="Si aplica" onclick="toggleInputFile('inputFileContainer2', true)">
                    Si aplica
                </label>
            </div>
            <div class="form-check">
                <label>
                    <input type="radio" name="opcion_radio2" value="No aplica" onclick="toggleInputFile('inputFileContainer2', false)">
                    No aplica
                </label>
            </div>

            <div id="inputFileContainer2" class="hidden">
                <div class="mb-3">
                    <label for="estado2" class="form-label">Estado de la evidencia:</label>
                    <select name="estado2" class="form-select">
                        <option value="" disabled selected>Seleccione estado:</option>
                        <option value="Conforme">Conforme</option>
                        <option value="Observado">Observado</option>
                    </select>
                </div>

                <label for="comentarios" class="form-label">Comentarios adicionales:</label>
                <input type="text" name="comentario2" class="form-control">
                <label for="imagen2" class="form-label">Evidencia:</label>
                <input type="file" name="imagenes2[]" class="form-control" accept="image/*" multiple>
            </div>
        </div>

        <div class="mb-3">
            <label class="form-label" name="titulo3"><b>Registro de tercero SAS Aplicativo:</b></label>
            <div class="form-check">
                <label>
                    <input type="radio" name="opcion_radio3" value="Si aplica" onclick="toggleInputFile('inputFileContainer3', true)">
                    Si aplica
                </label>
            </div>
            <div class="form-check">
                <label>
                    <input type="radio" name="opcion_radio3" value="No aplica" onclick="toggleInputFile('inputFileContainer3', false)">
                    No aplica
                </label>
            </div>

            <div id="inputFileContainer3" class="hidden">
                <div class="mb-3">
                    <label for="estado3" class="form-label">Estado de la evidencia:</label>
                    <select name="estado3" class="form-select">
                        <option value="" disabled selected>Seleccione estado:</option>
                        <option value="Conforme">Conforme</option>
                        <option value="Observado">Observado</option>
                    </select>
                </div>

                <label for="comentarios" class="form-label">Comentarios adicionales:</label>
                <input type="text" name="comentario3" class="form-control">
                <label for="imagen3" class="form-label">Evidencia:</label>
                <input type="file" name="imagenes3[]" class="form-control" accept="image/*" multiple>
            </div>
        </div>

        <div class="mb-3">
            <label class="form-label" name="titulo4"><b>Registro de tercero BDU:</b></label>
            <div class="form-check">
                <label>
                    <input type="radio" name="opcion_radio4" value="Si aplica" onclick="toggleInputFile('inputFileContainer4', true)">
                    Si aplica
                </label>
            </div>
            <div class="form-check">
                <label>
                    <input type="radio" name="opcion_radio4" value="No aplica" onclick="toggleInputFile('inputFileContainer4', false)">
                    No aplica
                </label>
            </div>

            <div id="inputFileContainer4" class="hidden">
                <div class="mb-3">
                    <label for="estado4" class="form-label">Estado de la evidencia:</label>
                    <select name="estado4" class="form-select">
                        <option value="" disabled selected>Seleccione estado:</option>
                        <option value="Conforme">Conforme</option>
                        <option value="Observado">Observado</option>
                    </select>
                </div>

                <label for="comentarios" class="form-label">Comentarios adicionales:</label>
                <input type="text" name="comentario4" class="form-control">
                <label for="imagen4" class="form-label">Evidencia:</label>
                <input type="file" name="imagenes4[]" class="form-control" accept="image/*" multiple>
            </div>
        </div>

        <div class="mb-3">
            <label class="form-label" name="titulo5"><b>Registro de póliza AX Azure Aplicativo:</b></label>
            <div class="form-check">
                <label>
                    <input type="radio" name="opcion_radio5" value="Si aplica" onclick="toggleInputFile('inputFileContainer5', true)">
                    Si aplica
                </label>
            </div>
            <div class="form-check">
                <label>
                    <input type="radio" name="opcion_radio5" value="No aplica" onclick="toggleInputFile('inputFileContainer5', false)">
                    No aplica
                </label>
            </div>

            <div id="inputFileContainer5" class="hidden">
                <div class="mb-3">
                    <label for="estado5" class="form-label">Estado de la evidencia:</label>
                    <select name="estado5" class="form-select">
                        <option value="" disabled selected>Seleccione estado:</option>
                        <option value="Conforme">Conforme</option>
                        <option value="Observado">Observado</option>
                    </select>
                </div>

                <label for="comentarios" class="form-label">Comentarios adicionales:</label>
                <input type="text" name="comentario5" class="form-control">
                <label for="imagen5" class="form-label">Evidencia:</label>
                <input type="file" name="imagenes5[]" class="form-control" accept="image/*" multiple>
            </div>
        </div>

        <div class="mb-3">
            <label class="form-label" name="titulo6"><b>Registro de huella contable AX Azure BD:</b></label>
            <div class="form-check">
                <label>
                    <input type="radio" name="opcion_radio6" value="Si aplica" onclick="toggleInputFile('inputFileContainer6', true)">
                    Si aplica
                </label>
            </div>
            <div class="form-check">
                <label>
                    <input type="radio" name="opcion_radio6" value="No aplica" onclick="toggleInputFile('inputFileContainer6', false)">
                    No aplica
                </label>
            </div>

            <div id="inputFileContainer6" class="hidden">
                <div class="mb-3">
                    <label for="estado6" class="form-label">Estado de la evidencia:</label>
                    <select name="estado6" class="form-select">
                        <option value="" disabled selected>Seleccione estado:</option>
                        <option value="Conforme">Conforme</option>
                        <option value="Observado">Observado</option>
                    </select>
                </div>

                <label for="comentarios" class="form-label">Comentarios adicionales:</label>
                <input type="text" name="comentario6" class="form-control">
                <label for="imagen6" class="form-label">Evidencia:</label>
                <input type="file" name="imagenes6[]" class="form-control" accept="image/*" multiple>
            </div>
        </div>

        <div class="mb-3">
            <label class="form-label" name="titulo7"><b>Registro de póliza ITF CDX Azure BD:</b></label>
            <div class="form-check">
                <label>
                    <input type="radio" name="opcion_radio7" value="Si aplica" onclick="toggleInputFile('inputFileContainer7', true)">
                    Si aplica
                </label>
            </div>
            <div class="form-check">
                <label>
                    <input type="radio" name="opcion_radio7" value="No aplica" onclick="toggleInputFile('inputFileContainer7', false)">
                    No aplica
                </label>
            </div>

            <div id="inputFileContainer7" class="hidden">
                <div class="mb-3">
                    <label for="estado7" class="form-label">Estado de la evidencia:</label>
                    <select name="estado7" class="form-select">
                        <option value="" disabled selected>Seleccione estado:</option>
                        <option value="Conforme">Conforme</option>
                        <option value="Observado">Observado</option>
                    </select>
                </div>

                <label for="comentarios" class="form-label">Comentarios adicionales:</label>
                <input type="text" name="comentario7" class="form-control">
                <label for="imagen7" class="form-label">Evidencia:</label>
                <input type="file" name="imagenes7[]" class="form-control" accept="image/*" multiple>
            </div>
        </div>

        <div class="mb-3">
            <label class="form-label" name="titulo8"><b>Registro de documentos de cobro CDX Azure Aplicativo:</b></label>
            <div class="form-check">
                <label>
                    <input type="radio" name="opcion_radio8" value="Si aplica" onclick="toggleInputFile('inputFileContainer8', true)">
                    Si aplica
                </label>
            </div>
            <div class="form-check">
                <label>
                    <input type="radio" name="opcion_radio8" value="No aplica" onclick="toggleInputFile('inputFileContainer8', false)">
                    No aplica
                </label>
            </div>

            <div id="inputFileContainer8" class="hidden">
                <div class="mb-3">
                    <label for="estado8" class="form-label">Estado de la evidencia:</label>
                    <select name="estado8" class="form-select">
                        <option value="" disabled selected>Seleccione estado:</option>
                        <option value="Conforme">Conforme</option>
                        <option value="Observado">Observado</option>
                    </select>
                </div>

                <label for="comentarios" class="form-label">Comentarios adicionales:</label>
                <input type="text" name="comentario8" class="form-control">
                <label for="imagen8" class="form-label">Evidencia:</label>
                <input type="file" name="imagenes8[]" class="form-control" accept="image/*" multiple>
            </div>
        </div>

        <div class="mb-3">
            <label class="form-label" name="titulo9"><b>Validación de pagos:</b></label>
            <div class="form-check">
                <label>
                    <input type="radio" name="opcion_radio9" value="Si aplica" onclick="toggleInputFile('inputFileContainer9', true)">
                    Si aplica
                </label>
            </div>
            <div class="form-check">
                <label>
                    <input type="radio" name="opcion_radio9" value="No aplica" onclick="toggleInputFile('inputFileContainer9', false)">
                    No aplica
                </label>
            </div>

            <div id="inputFileContainer9" class="hidden">
                <div class="mb-3">
                    <label for="estado9" class="form-label">Estado de la evidencia:</label>
                    <select name="estado9" class="form-select">
                        <option value="" disabled selected>Seleccione estado:</option>
                        <option value="Conforme">Conforme</option>
                        <option value="Observado">Observado</option>
                    </select>
                </div>

                <label for="comentarios" class="form-label">Comentarios adicionales:</label>
                <input type="text" name="comentario9" class="form-control">
                <label for="imagen9" class="form-label">Evidencia:</label>
                <input type="file" name="imagenes9[]" class="form-control" accept="image/*" multiple>
            </div>
        </div>

        <input type="submit" value="Generar Word" class="btn btn-primary">
        <button type="button" onclick="limpiarCampos()" class="btn btn-primary">Limpiar</button>
    </form>

    <script>
        function toggleInputFile(containerId, show) {
            var inputFileContainer = document.getElementById(containerId);
            if (inputFileContainer) {
                if (show) {
                    inputFileContainer.classList.remove("hidden");
                } else {
                    inputFileContainer.classList.add("hidden");
                }
            }
        }

        function limpiarCampos() {
            var elementos = document.forms[0].elements;

            for (var i = 0; i < elementos.length; i++) {
                var tipo = elementos[i].type;
                if (tipo == "text" || tipo == "textarea" || tipo == "file") {
                    elementos[i].value = "";
                } else if (tipo == "select-one" || tipo == "select-multiple") {
                    elementos[i].selectedIndex = -1;
                } else if (tipo == "radio" || tipo == "checkbox") {
                    elementos[i].checked = false;
                }
            }

            for (var j = 1; j <= 9; j++) {
                var inputFileContainer = document.getElementById('inputFileContainer' + j);
                if (inputFileContainer) {
                    inputFileContainer.classList.add("hidden");
                }
            }
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    
</body>
</html>
