<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .hidden {
            display: none;
        }
    </style>
    <title>Generar Word</title>
</head>
<body class="container mt-5">
    <div>
        <h1 class="text-center">Pruebas Simulación APIS Core Flag ON</h1>
    </div>
    <form action="/generate_word" method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="responsable" class="form-label"><b>Responsable:</b></label>
            <select name="responsable" class="form-select" required>
                <option value="" disabled selected>Seleccione QA</option>
                <option value="Alonso Molina">Alonso Molina</option>
                <option value="Rony Mocilote">Rony Mocilote</option>
                <option value="Joel Abanto">Joel Abanto</option>
            </select>
        </div>

        <div class="mb-3">
            <label for="producto" class="form-label"><b>Producto:</b></label>
            <input type="text" name="producto" class="form-control" required>
        </div>

        <div class="mb-3">
            <label for="financiamiento" class="form-label"><b>Financiamiento:</b></label>
            <input type="text" name="financiamiento" class="form-control" required>
        </div>

        <div class="mb-3">
            <label for="casoprueba" class="form-label"><b>Caso de Prueba:</b></label>
            <textarea name="casoprueba" class="form-control" required></textarea>
        </div>

        <div class="mb-3">
            <label class="form-label" name="titulo1"><b>Registro de tercero BDU:</b></label>
            <div class="form-check">
                <label>
                    <input type="radio" name="opcion_radio1" value="Si aplica" onclick="toggleInputFile('inputFileContainer1', true)">
                    Si aplica
                </label>
            </div>
            <div class="form-check">
                <label>
                    <input type="radio" name="opcion_radio1" value="No aplica" onclick="toggleInputFile('inputFileContainer1', false)">
                    No aplica
                </label>
            </div>

            <div id="inputFileContainer1" class="hidden">
                <label for="imagen1" class="form-label">Evidencia:</label>
                <input type="file" name="imagenes1[]" class="form-control" accept="image/*" multiple>
            </div>
        </div>

        <div class="mb-3">
            <label class="form-label" name="titulo2"><b>Registro de tercero ACSELX Aplicativo:</b></label>
            <div class="form-check">
                <label>
                    <input type="radio" name="opcion_radio2" value="Si aplica" onclick="toggleInputFile('inputFileContainer2', true)">
                    Si aplica
                </label>
            </div>
            <div class="form-check">
                <label>
                    <input type="radio" name="opcion_radio2" value="No aplica" onclick="toggleInputFile('inputFileContainer2', false)">
                    No aplica
                </label>
            </div>

            <div id="inputFileContainer2" class="hidden">
                <label for="imagen2" class="form-label">Evidencia:</label>
                <input type="file" name="imagenes2[]" class="form-control" accept="image/*" multiple>
            </div>
        </div>

        <div class="mb-3">
            <label class="form-label" name="titulo3"><b>Registro de póliza ACSELX BD:</b></label>
            <div class="form-check">
                <label>
                    <input type="radio" name="opcion_radio3" value="Si aplica" onclick="toggleInputFile('inputFileContainer3', true)">
                    Si aplica
                </label>
            </div>
            <div class="form-check">
                <label>
                    <input type="radio" name="opcion_radio3" value="No aplica" onclick="toggleInputFile('inputFileContainer3', false)">
                    No aplica
                </label>
            </div>

            <div id="inputFileContainer3" class="hidden">
                <label for="imagen3" class="form-label">Evidencia:</label>
                <input type="file" name="imagenes3[]" class="form-control" accept="image/*" multiple>
            </div>
        </div>

        <div class="mb-3">
            <label class="form-label" name="titulo4"><b>Registro de póliza CDX BD (ITF):</b></label>
            <div class="form-check">
                <label>
                    <input type="radio" name="opcion_radio4" value="Si aplica" onclick="toggleInputFile('inputFileContainer4', true)">
                    Si aplica
                </label>
            </div>
            <div class="form-check">
                <label>
                    <input type="radio" name="opcion_radio4" value="No aplica" onclick="toggleInputFile('inputFileContainer4', false)">
                    No aplica
                </label>
            </div>

            <div id="inputFileContainer4" class="hidden">
                <label for="imagen4" class="form-label">Evidencia:</label>
                <input type="file" name="imagenes4[]" class="form-control" accept="image/*" multiple>
            </div>
        </div>

        <div class="mb-3">
            <label class="form-label" name="titulo5"><b>Registro de póliza ACSELX Aplicativo:</b></label>
            <div class="form-check">
                <label>
                    <input type="radio" name="opcion_radio5" value="Si aplica" onclick="toggleInputFile('inputFileContainer5', true)">
                    Si aplica
                </label>
            </div>
            <div class="form-check">
                <label>
                    <input type="radio" name="opcion_radio5" value="No aplica" onclick="toggleInputFile('inputFileContainer5', false)">
                    No aplica
                </label>
            </div>

            <div id="inputFileContainer5" class="hidden">
                <label for="imagen5" class="form-label">Evidencia:</label>
                <input type="file" name="imagenes5[]" class="form-control" accept="image/*" multiple>
            </div>
        </div>

        <div class="mb-3">
            <label class="form-label" name="titulo6"><b>Registro de póliza Rímac Salud:</b></label>
            <div class="form-check">
                <label>
                    <input type="radio" name="opcion_radio6" value="Si aplica" onclick="toggleInputFile('inputFileContainer6', true)">
                    Si aplica
                </label>
            </div>
            <div class="form-check">
                <label>
                    <input type="radio" name="opcion_radio6" value="No aplica" onclick="toggleInputFile('inputFileContainer6', false)">
                    No aplica
                </label>
            </div>

            <div id="inputFileContainer6" class="hidden">
                <label for="imagen6" class="form-label">Evidencia:</label>
                <input type="file" name="imagenes6[]" class="form-control" accept="image/*" multiple>
            </div>
        </div>

        <div class="mb-3">
            <label class="form-label" name="titulo7"><b>Registro de póliza SAS:</b></label>
            <div class="form-check">
                <label>
                    <input type="radio" name="opcion_radio7" value="Si aplica" onclick="toggleInputFile('inputFileContainer7', true)">
                    Si aplica
                </label>
            </div>
            <div class="form-check">
                <label>
                    <input type="radio" name="opcion_radio7" value="No aplica" onclick="toggleInputFile('inputFileContainer7', false)">
                    No aplica
                </label>
            </div>

            <div id="inputFileContainer7" class="hidden">
                <label for="imagen7" class="form-label">Evidencia:</label>
                <input type="file" name="imagenes7[]" class="form-control" accept="image/*" multiple>
            </div>
        </div>

        <div class="mb-3">
            <label class="form-label" name="titulo8"><b>Validar documentos de cobro CDX BD:</b></label>
            <div class="form-check">
                <label>
                    <input type="radio" name="opcion_radio8" value="Si aplica" onclick="toggleInputFile('inputFileContainer8', true)">
                    Si aplica
                </label>
            </div>
            <div class="form-check">
                <label>
                    <input type="radio" name="opcion_radio8" value="No aplica" onclick="toggleInputFile('inputFileContainer8', false)">
                    No aplica
                </label>
            </div>

            <div id="inputFileContainer8" class="hidden">
                <label for="imagen8" class="form-label">Evidencia:</label>
                <input type="file" name="imagenes8[]" class="form-control" accept="image/*" multiple>
            </div>
        </div>

        <div class="mb-3">
            <label class="form-label" name="titulo9"><b>Validar documentos de cobro CDX Aplicativo:</b></label>
            <div class="form-check">
                <label>
                    <input type="radio" name="opcion_radio9" value="Si aplica" onclick="toggleInputFile('inputFileContainer9', true)">
                    Si aplica
                </label>
            </div>
            <div class="form-check">
                <label>
                    <input type="radio" name="opcion_radio9" value="No aplica" onclick="toggleInputFile('inputFileContainer9', false)">
                    No aplica
                </label>
            </div>

            <div id="inputFileContainer9" class="hidden">
                <label for="imagen9" class="form-label">Evidencia:</label>
                <input type="file" name="imagenes9[]" class="form-control" accept="image/*" multiple>
            </div>
        </div>

        <div class="mb-3">
            <label class="form-label" name="titulo10"><b>Validar pasarela de pagos:</b></label>
            <div class="form-check">
                <label>
                    <input type="radio" name="opcion_radio10" value="Si aplica" onclick="toggleInputFile('inputFileContainer10', true)">
                    Si aplica
                </label>
            </div>
            <div class="form-check">
                <label>
                    <input type="radio" name="opcion_radio10" value="No aplica" onclick="toggleInputFile('inputFileContainer10', false)">
                    No aplica
                </label>
            </div>

            <div id="inputFileContainer10" class="hidden">
                <label for="imagen10" class="form-label">Evidencia:</label>
                <input type="file" name="imagenes10[]" class="form-control" accept="image/*" multiple>
            </div>
        </div>

        <div class="mb-3">
            <label class="form-label" name="titulo11"><b>Validar que no exista en ACSELX OP:</b></label>
            <div class="form-check">
                <label>
                    <input type="radio" name="opcion_radio11" value="Si aplica" onclick="toggleInputFile('inputFileContainer11', true)">
                    Si aplica
                </label>
            </div>
            <div class="form-check">
                <label>
                    <input type="radio" name="opcion_radio11" value="No aplica" onclick="toggleInputFile('inputFileContainer11', false)">
                    No aplica
                </label>
            </div>

            <div id="inputFileContainer11" class="hidden">
                <label for="imagen11" class="form-label">Evidencia:</label>
                <input type="file" name="imagenes11[]" class="form-control" accept="image/*" multiple>
            </div>
        </div>

        <input type="submit" value="Generar Word" class="btn btn-primary">
    </form>

    <script>
        function toggleInputFile(containerId, show) {
            var inputFileContainer = document.getElementById(containerId);
            if (inputFileContainer) {
                if (show) {
                    inputFileContainer.classList.remove("hidden");
                } else {
                    inputFileContainer.classList.add("hidden");
                }
            }
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    
</body>
</html>
